<?php

/*
 * ENV: local
 */

/*
 * Local ENV Configs
 */
$config = [
    'components' => [
        'db' => [
            'class' => 'yii\db\Connection',
            'dsn' => 'mysql:host=localhost;dbname=DB_NAME',
            // 'dsn' => 'mysql:host=localhost;dbname=DB_NAME;unix_socket=/Applications/MAMP/tmp/mysql/mysql.sock', // OSX MAMP
            // 'dsn' => 'mysql:host=localhost;dbname=DB_NAME;unix_socket=/Applications/XAMPP/xamppfiles/var/mysql/mysql.sock', // OSX XAMPP
            'username' => '',
            'password' => '',
            'charset' => 'utf8',
        ]
    ]
];

/*
 * Asset Manager Configs
 */
$config['components']['assetManager'] = [
    'class' => 'luya\web\AssetManager',
    'linkAssets' => true,
];

return $config;
